/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Style for the navigation bar */
.navbar {
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

/* Style for the logo image */
.navbar .logo img {
  width: 30px; /* Set the width of the logo image */
  height: auto; /* Auto-adjust the height to maintain aspect ratio */
  border-radius: 5%;
}

/* Style for the text in the navbar */
.navbar .text {
  color: #fff;
  font-size: 18px;
  margin-left: 20px;
}

/* Reset some default styles for better consistency */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Style the about me section */
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.profile {
  text-align: center;
}

.profile img {
  border-radius: 50%;
  max-width: 300px;
  height: auto;
}

.profile h2 {
  font-size: 1.5rem;
}

.profile p {
  font-size: 1rem;
}

.bio {
  flex: 1;
  padding: 20px;
}

.bio p {
  font-size: 1rem;
}

.no-underline {
  text-decoration: none;
}

/* Style the custom horizontal line */
.horizontal-line {
  width: 50%; /* Adjust the width as needed */
  height: 1px;
  background-color: #d3d3d3;
  margin: auto; /* Center the line horizontally */
}

/* Media query for small screens (up to 600px) */
@media screen and (max-width: 600px) {
  .about-me {
    flex-direction: column;
  }
  .profile img {
    max-width: 80px;
  }
  .profile h2 {
    font-size: 1rem;
  }
  .profile p {
    font-size: 0.8rem;
  }
  .bio p {
    font-size: 0.8rem;
  }
}

.image-grid {
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

.image {
  overflow: hidden;
  border-radius: 8px;
}

.image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}



.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.contact-links a {
  margin: 0 10px;
  text-decoration: none;
}

.contact-links img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}


